body{
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(125, 125, 125);
}
.img{
  width: 200px;
  height: 300px;
  margin: 1rem;
  border: 2px solid black;
  
}
.title{
  text-align: center;
  color: white;
}
.card{
  background-color: rgb(71, 77, 75);
  width: 800px;
  height: 500px;
  border-radius: 1rem;
  position: relative;
}

.p{
  padding: 1rem;
  color: white;
  position: absolute;
  right: 0;
  top: 150px;
  width: 550px;
  text-align: justify;
}

.button{
  position: absolute;
  right: 450px;
  top: 320px;
  cursor: pointer;
}