
body{
  background-color: #232323;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.title{
  text-align: center;
  color: white;
  
}

main{
  text-align: center;
  margin: 1rem;
  width: 40vw;
  height: 50vh;
  background-color: rgb(48, 48, 48);
  padding: 5rem;
  border-radius: 1rem;
}
.buttonCopy{
  padding: .8rem;
  cursor: pointer;
  margin: 1rem;
  background-color: #232323;
  border: none;
  color: white;
  border-radius: .5rem
}
.buttonGerator{
  padding: .8rem;
  margin: 1rem;
  cursor: pointer;
  background-color: #232323;
  border: none;
  color: white;
  border-radius: .5rem;
}

.result{
  color: white;
  margin: block;
  margin: 1rem;
  background-color: #232323;
  padding: .5rem;
}
.input{
  margin: 1rem;
  padding: .6rem;
  background-color: #232323;
  border: none;
  color: white;
  border-radius: .5rem;

}
.label{ 
  color: white;
}